* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
}

.slider {
    width: 100%;
    height: 350px;
    position: absolute;
    text-align: center;
    background-color: #eeeeee88;
}
.desc {
    width: 100%;
    height: 350px;
    position: absolute;
    text-align: center;
    top: 60%;
}

h4 {
    color: #1a1a1ae3;
}

a {
    color: #193f46;
    text-decoration: none;
    padding: 2px 4px;
}

img {
    margin: 15px;
}