<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freazesss - About</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css")}}">
    <link rel="stylesheet" href="{{ url_for("static", filename="about.css")}}">
</head>
<body>
    <divc class="slider">
        <h1>Sobre Mim<br><br></h1>
        <p>Olá meu nome é Gustavo Lins e eu sou um simples...<br> Python Developer atualmente estou no colegial.</p>
        <p><br><br><br><a href="{{ url_for("home.homepage")}}">Home</a> <a href="{{ url_for("about.aboutpage") }}">About</a> <a href="https://github.com/freazesss">Github</a></p>
    </div>
</body>
</html>