<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freazesss - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="slider">
        <img src="{{ url_for('static', filename='img.jpg')}}" alt="My photo" style="width: 22%; border-radius: 50%; border: 5px solid #37dbe0;">
    </div>
    <div class="desc">
        <h1>Gustavo Lins</h1>
        <h2>Freazesss</h2>
        <br><br>
        <h4>Ola Meu nome é Gustavo Lins e eu sou um desenvolvedor Back-End e criador do <a href="https://github.com/coffeebr" target="_blank">Coffee Brasil</a>.</h4>
        <h4>Me acompanhe nessas redes sociais <a href="https://github.com/freazesss" target="_blank">Github</a><a href="https://twitter.com/freazesss" target="_blank">Twitter</a>.</h4>
    </div>
</body>
</html>
