<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freazesss - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="slider">
        <img src="https://avatars1.githubusercontent.com/u/60306241?s=400&u=531a2ba97a3ba3a58aad3e81c6f198e8a9c413d0&v=4" alt="My photo" style="width:80%; border-radius: 50%;">
    </div>
    <div class="desc">
        <br><br>
        <h4>Ola Meu nome é <span style="color: brown;">Gustavo Lins</span> e eu sou um... <br> desenvolvedor Back-End e criador do <a href="https://github.com/coffeebr" target="_blank">Coffee Brasil</a>.</h4>
        <h4>Me acompanhe nessas redes sociais <a href="https://github.com/freazesss" target="_blank">Github</a><a href="https://twitter.com/freazesss" target="_blank">Twitter</a>.</h4>
    </div>
</body>
</html>
